@font-face {
  font-family: 'Roboto', sans-serif;
  src: ();
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.sticky {
  position: fixed;
  top: 20px;
  width: 100%;
}

#cart {
  display: grid;
  right: 30px;
  top: 40px;
  position: absolute;
  row-gap: 10px;
  z-index: 2;
}

#cart #logo-main img {
  width: 80px;
}

#cart #cart-item-list {
  display: grid;
  justify-items: center;
  row-gap: 10px;
}

#cart #cart-item-list .cart-item img {
  width: 40px;
}

#general-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 25% 75%;
}

#left-menu {
  display: grid;
  grid-template-rows: 350px auto;
}

#left-menu #logo {
  display: grid;
  justify-items: center;
  align-items: center;
}

#left-menu #logo img {
  width: 250px;
}

#left-menu #info {
  background-color: yellow;
}

main {
  display: grid;
  row-gap: 40px;
  overflow-y: scroll;
}

main #top-menu {
  display: grid;
  position: sticky;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: baseline;
}

main #top-menu .top-menu-buttons {
  padding: 5px 15px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: green;
}

main #top-menu .top-menu-buttons:hover {
  cursor: pointer;
  background-color: white;
}

main #banner {
  height: 350px;
  background-color: blue;
}

main #banner img {
  height: 100%;
  width: 100%;
}

main #shop-menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 40px;
  justify-items: center;
}

main #shop-menu .shop-menu-buttons img {
  width: 170px;
}