@font-face {
  font-family: 'Roboto', sans-serif;
  src: ();
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

#general-container {
  display: grid;
  grid-template-columns: 20% 80%;
}